node_modules/
dist/
.env
.vscode/
*.log
npm-debug.log*
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.*
terraform/*.tfvars
awscliv2.zip
aws/
.DS_Store
Thumbs.db
.vscode/
.idea/

